<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ICS" stopProcessing="true">
          <match url="diary/calendar.ics" ignoreCase="true"/>
          <action type="Rewrite" url="diary/calendar.php"/>
        </rule>
        <rule name="Catchall" stopProcessing="true">
          <match url="." ignoreCase="true"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/index.php(/?)"/>
              <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/test.php(/?)"/>
            <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/index.html(/?)"/>
            <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/FileNotFound.html"/>
            <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/$"/>
            <add input="{REQUEST_URI}" matchType="Pattern" ignoreCase="true" pattern="^/(css|js|images|imgs|kcfinder|admin|upload|diary|galleries|cms)"/>
          </conditions>
          <action type="None"/>
        </rule>
        <rule name="CMS" stopProcessing="false">
          <match url="." ignoreCase="true"/>
          <action type="Rewrite" url="page.php"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true"/>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <!--<error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>-->
    </customErrors>
  </system.web>
</configuration>